#translateExtension {
    position: fixed;
    z-index: 99999;
    width: 100px;
    height: 100px;
    right: 20px;
    top: 30%;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: #606266;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 100px;
    text-align:center;
}
#translateExtension span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
